body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center; 
}

#container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: 100vh;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    margin-top: auto;
}

#game-results,
#round-results,
#score{
    display: flex;
    flex-direction: column;
}

.headerTextBox{
    margin: 20px;
    padding: 4px;
    background-color: white;
    color: black;
}

button{
    padding: 4px 8px;
}

.buttonHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}